* {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    height: 50vh;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

}


.taken {
    border: 1px solid black;
    text-align: center;
    padding-top: 25%;
}

.free {
    border: 1px solid black;
    text-align: center;
    padding-top: 25%;
}

.endscreen {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 80%;
    color: white;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}